{% extends 'main.html'%}
{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_components.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            {% if profile_user.avatar %}
              <img src="{{ profile_user.avatar.url }}" alt="Avatar" />
            {% else %}
              <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Default Avatar" />
            {% endif %}
          </div>
        </div>
        <div class="profile__info">
          <h3>{{ profile_user.username }}</h3>
          <p>@{{ profile_user.username }}</p>
          {% if request.user == profile_user %}
            <a href="{% url 'updateuser' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo tenetur
            facilis sunt nemo debitis quisquam hic atque aut? Ducimus alias placeat optio
            accusamus repudiandae quis ab ex exercitationem rem?
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms Hosted by {{ profile_user.username }}</h2>
        </div>
      </div>

      {% include 'base/feed_component.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_components.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}
